fastapi==0.115.12
uvicorn==0.34.0
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.20
pydantic==2.9.2
pydantic-core==2.23.4
python-dotenv==1.1.0
openai==1.71.0
twilio==9.6.1
alembic==1.15.2